
body {
    background-color: #f5f5f5;
  }
  
  .form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
  
  .form-control {
    border-color: #dddddd;
  }
  
  .btn {
    background-color: #009246;
    border-color: #009246;
    color: #ffffff;
  }
  
  .btn:hover {
    background-color: #007f3d;
    border-color: #007f3d;
  }
  